
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "{{ site.theme }}";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "poppins";
}
:root{
    --text-color: #000;
    --main-color: #543687;

}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: #d0b092;
    height: 65px;
}

.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color : var(--text-color);
    text-align: left;
    padding: 5px;
    margin-bottom: 10px;
}

.logo span{
    color : var(--main-color);

}

.navbar{
    position: relative;
    display: flex;
    margin-top: 8px;
   
   
}

.navbar a{
font-size: 1rem;
padding: 10px 20px;
font-weight: 500;
color: var(--text-color);
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-top: 86px;
    padding-left: 0;
    padding-right: 0;
    z-index: 100;

    
}
.picture{
    height: 502px;
    width: 1210px;
    border-radius: 20px;
    
}
.pic{
    height: 502px;
    width: 1210px;
    border-radius: 20px;
}
.pic3{
    height: 502px;
    width: 1210px;
    border-radius: 20px;
}
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  .bottom-left1 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color:rgb(255, 41, 127);
  }
  .bttn1{
    
      border-radius: 10px;
      padding: 15px;
      position: absolute;
      bottom: 8px;
      right: -680px;
  }
  

  .bottom-left span{
    color: rgb(32, 111, 52);
  }
  .heading {
    text-align: center;
  }
  .heading span {
    font-size: 14px;
    font-weight: 500;
    color: var(--main-color);
    text-transform: uppercase;
  }
  .shop-container,
  .new-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    margin-top: 2rem;
    padding: 10px 10px 10px 10px ;
  }
  .box {
    position: relative;
    box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.1);
    border-radius: 44px 4px 4px 4px;
  }

  .bttn{
    border-radius: 10px;
    padding: 15px;
  }
  .box .box-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 44px 4px 0 0;
  }
  .box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .box .box-img img:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  .title-price {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }
  .title-price h3 {
    font-size: 1rem;
    font-weight: 600;
  }
  .box span {
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 12px;
    color: var(--main-color);
  }
  .stars .bx {
    color: var(--main-color);
  }
  .box .bx-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px;
    font-size: 20px;
    color: #fff;
    border-radius: 4px 0 4px 0;
    background: var(--main-color);
  }
  .box .bx-cart:hover {
    background: #8fc53d;
  }
  .new{
    margin-top: 20px;
  }
  .new-container .box {
    border-radius: 4px;
  }
  .new-container .box .box-img {
    border-radius: 4px;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 20px;
  }
  .about-img img {
    width: 80%;
    border-radius: 10px;
    object-fit: contain;
  }
  .about-text span {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
  }
  .about-text p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
  }


  .brands{
    margin-top: 20px;
  }
  .brands-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
  }
  .brands-container img {
    width: 100px;
   
  }
  .brands-container img:hover {
    width: 100px;
   
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 15px;
    
  }
  .short{
    height: 50px;
    width: 50px;
  }
  .btn{
    border-color: #000;
    border-radius: 10px;
  }
  .newsletter h2 {
    color: #000000;
  }
  .news-box {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .news-box input {
    width: 260px;
    height: 44px;
    border-radius: 10px 0 0 10px;
    outline: none;
    background: #fff;
    padding: 10px;
  }
  .news-box .btn {
    height: 44px;
    padding: 11px;
    border-radius: 0 10px 10px 0;
    font-weight: 500;
    text-transform: uppercase;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1rem;
    margin-top: 20px;
    background: #e6e6e6e1;
    border-radius: 20px;
    padding: 10px 10px 10px 10px ;
  
  }
  .footer-box h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .footer-box span {
    color: var(--main-color);
  }
  .footer-box p {
    font-size: 00.938rem;
    margin-bottom: 10px;
   

  }
  .social {
    display: flex;
    align-items: center;
  }
  .social a {
    font-size: 24px;
    margin-right: 10px;
    color: var(--text-color);
  }
  .social a:hover {
    color: var(--main-color);
  }
  .footer-box h3 {
    font-weight: 500;
    margin-bottom: 10px;
  }
  .footer-box li a {
    color: var(--text-color);
  }
  .footer-box li a:hover {
    color: var(--main-color);
  }
  .contact-info {
    display: flex;
    flex-direction: column;
  }
  .contact-info span {
    color: var(--text-color);
  }
  .copyright {
    padding: 20px;
    margin-top: 15px;
    text-align: center;
    background: black;
    color: white;
  }






  @media (max-width: 991px) {
    header {
      padding: 18px 4%;
    }
    section {
      padding: 50px 4%;
    }
  }
  @media (max-width: 881px) {
    .home-text h1 {
      font-size: 2rem;
    }
    .shop-container,
    .new-container {
      grid-template-columns: repeat(auto-fit, minmax(218px, auto));
    }
  }
  @media (max-width: 768px) {
    header {
      padding: 11px 4%;
    }
    #menu-icon {
      display: initial;
    }
    header .navbar {
      position: absolute;
      top: -500px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      background: #fff;
      box-shadow: 0 4px 4px rgb(0 0 0 /10%);
      transition: 0.2s ease;
      text-align: center;
    }
    .navbar a {
      padding: 1.5rem;
      display: block;
    }
    .navbar.active {
      top: 100%;
    }
    .navbar a:hover {
      color: #fff;
      background: var(--main-color);
    }
    .about {
      grid-template-columns: 1fr;
      text-align: center;
    }
    .about-img {
      padding-top: 1rem;
      order: 2;}
    }
